body {
  font-family: 'Lora', serif;
  overflow: hidden;
}

h1, h2, h4, h5, h6 {
  font-family: 'Lora', serif;
}

h3 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container {
  position: relative;
  min-width: 80vh;
  border-bottom: 5px #000000 solid;
}

.nav ul {
  margin: 0;
}

.nav ul li {
  z-index: 9999;
}

.nav .nav-up {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.nav .nav-left {
  position: fixed;
  left: 0;
  top: 50%;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: 0 0;
  padding: 5%;
}

.nav .nav-down {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.nav .nav-right {
  position: fixed;
  right: 0;
  top: 50%;
  transform-origin: 100% 0;
  transform: rotate(90deg) translateX(50%);
}

.nav a {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #5e595b;
  font-size: 18px;
  text-decoration: none;
}

.nav li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: #5e595b;
  padding: 5% 0;
}

.nav li:hover {
opacity: 10;
transition: 0.5s opacity ease-in-out;
}

.section {
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.home {
  background-color: #f3edea;
}

.about {
  background-color: #836d6d;
}

.cv {
  background-color: #fff;
}

.works {
  background-color: #fff;
}

.contacts {
  background-color: #5e595b;
}

.logo {
  width: 90px;
  margin: auto;
}

.logo img {
  width: 90px;
}

.presentation {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 30%;
}

.home .container {
  height: 100%;
  width: 100%;
  background-image: url('http://imgh.us/background-circle_3.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 115%;
}


.introduction {
  position: relative;
  font-size: 35px;
  color: #5e595b;
  text-align: center;
  line-height: 51px;
  margin-bottom: 15%;
}

.me {
  position: relative;
  margin: auto;
  width: 316px;
  margin-bottom: 65px;
}

.me img {
  max-width: 88%;
  margin-top: 25%;
}

.aboutme {
  position: relative;
}

.aboutme p {
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #f3edea;
}

.aboutme .btn {
  display: block;
  font-family: 'montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #f3edea;
  width: 14em;
  padding: 14px;
  border: solid #f3edea 1px;
  border-radius: inherit;
  margin: 30px auto;
}

.gallery {
  margin-top: 150px;
  margin-bottom: 125px;
}

.gallery ul {
  text-align: center;
  margin: 0;
}

.gallery li {
  padding: 0px;
}

.gallery-entry {
  display: block;
  position: relative;
  overflow: hidden;
}

.gallery-title {
  position: absolute;
  background-color: #5e595b;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: 0.3s transform ease-in-out;
}

.gallery-entry:hover .gallery-title {
  transform: translateY(0);
}

.gallery-title .package {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  transform: translateY(-50%);
}

.gallery-title p {
  text-transform: lowercase;
  font-size: 16px;
}

.row {
  padding: 0;
}

.gallery img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .gallery img {
    width: 100%;
  }
}

.dropdown {
  position: absolute;
  right: 0;
}

.btn-link {
  color: #5e595b;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 100px;
}
.caret {
  color: #fc9c8c;
}

.more .btn {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #5e595b;
  padding: 7px;
  border: solid #5e595b 3px;
  margin-bottom: 125px;
}

.more {
  text-align: center;
}

/*----------- LIGHTBOX--------------------------------------------------*/

.modal {
  padding: 0 !important;
}

.modal-dialog {
  width: 100%;
  margin: 0;
}

.modal-content {
  border: 0;
  border: 0;
  border-radius: 0;
}

.modal-header {
  max-height: 600px;
  border-bottom: 0;
}

.project-text {
  margin: 40px 40px;
}

.modal-title {
  color: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 41px;
  text-transform: uppercase;
  text-align: center;
}

.modal-description {
  color: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 24px;
}

.modal-body {
  padding: 0;
  text-align: center;
}

button .close {
  padding: 10px 0 10px;
}

.close {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 80px;
  color: #fff;
  opacity: 10;
}

.close:hover {
  font-size: 83px;
  color: #fff;
  transition: 0.3s font-size ease-in-out;
}

#deer-illustration .modal-header {
 background-color: #fe7a83;
}

.deer-stripe1 {
  background-color: #fff;
}

.deer-stripe2 {
  background-color: #ff6571;
}

.deer-stripe3 {
  background-color: #ffd4a7;
}

#dvd-crudo .modal-header {
 background-color: #93ab35;
}

.crudo-stripe1 {
  background-color: #eae9ee;
}

.crudo-stripe2 {
  background-color: #9ba979;
}

.crudo-stripe3 {
  background-color: #d6d6d8;
}

#sz-logo .modal-header {
 background-color: #115159;
}

.sz-stripe1 {
  background-color: #d6d6d6;
}

.sz-stripe2 {
  background-color: #7a9d9c;
}

.sz-stripe3 {
  background-color: #000000;
}

#diesel-tribute .modal-header {
 background-color: #2466af;
}

.tribute-stripe1 {
 background-color: #144075;
}

.tribute-stripe2 {
 background-color: #fff;
}

.tribute-stripe3 {
 background-color: #d03c96;
}

/*----------- LIGHTBOX-------------------------------------------------*/

.contacts {
    background-color: #5e595b;
}

.contact-links {
  text-align: center;
  margin-top: 136px;
}

.email {
  display: block;
  color: #fff;
  font-size: 25px;
}

.email:hover {
  text-decoration: none;
  transition: 0.3s color ease-in-out;
  color: #ee3963;
}

.contact-links img {
  max-width: 60px;
  margin: 50px 12px;
  border-radius: 100%;
  transition: 1s background-color ease-in-out;
}

.contact-links a:hover img,
.contact-links a:focus img  {
  background-color: #ee3963;
  text-decoration: none;
}
