body {
  font-family: 'Lora', serif;
  overflow-x: hidden;
  background-color: transparent;
  transition: 0.3s all ease-in-out;

}

::-webkit-scrollbar {
  display: none;
}

body.animating {
  overflow: hidden;
}

body .nav-up,
body .nav-down,
body .nav-right,
body .nav-left {
  transition: 0.3s all ease-in-out;
  background-color: transparent;
}

body.home,
body.home .nav-up,
body.home .nav-down,
body.home .nav-right,
body.home .nav-left {
  background-color: #f3edea;
  transition: 0.3s all ease-in-out;
}

body.about,
body.about .nav-up,
body.about .nav-down,
body.about .nav-right,
body.about .nav-left  {
  background-color: #836d6d;
  transition: 0.3s all ease-in-out;
}

body.works,
body.works .nav-up,
body.works .nav-down,
body.works .nav-right,
body.works .nav-left  {
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}

h1, h2, h4, h5, h6 {
  font-family: 'Lora', serif;
}

h3 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.page-container {
  position: relative;
  min-height: calc(100vh - 30 * 2px);
  width: calc(100vw - 30 * 2px);
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 767px) {
  .page-container {
    min-height: calc(100vh - 63 * 2px);
    width: calc(100vw - 63 * 2px);
    padding: 30px;
    margin: 63px auto;
  }
}

.page-container > * {
  max-width: 1200px;
}


body::after {
  content: '';
  position: fixed;
  bottom: 63px;
  top: 63px;
  left: 63px;
  right: 63px;
  background-color: transparent;
  z-index: -1;
}

.nav ul {
  margin: 0;
}

.nav ul li {
  z-index: 10;
}

.nav .nav-up,
.nav .nav-down {
  left: 0;
  right: 0;
  height: 0;
}

.nav .nav-up {
  top: 0;
  padding-top: 20px;
  padding-bottom: 15px;
}

@media (min-width: 767px) {
  .nav .nav-up {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.nav .nav-down {
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 20px;
}

@media (min-width: 767px) {
  .nav .nav-down {
    left: 51px;
    right: 51px;
    padding-bottom: 50px;
  }
}

.nav .nav-left,
.nav .nav-right {
  top: 0;
  bottom: 0;
  flex-direction: column;
  width: 0;
}

@media (min-width: 767px) {
  .nav .nav-left,
  .nav .nav-right {
    top: 51px;
    padding-bottom: 50px;
  }
}

.nav .nav-left {
  left: 0;
  padding-left: 22px;
  padding-right: 20px;
}

@media (min-width: 767px) {
  .nav .nav-left {
    padding-left: 50px;
  }
}

.nav .nav-right {
  right: 0;
  padding-left: 20px;
  padding-right: 22px;
}

@media (min-width: 767px) {
  .nav .nav-right {
    padding-right: 50px;
  }
}

.nav .nav-text,
.nav .nav-logo {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 15px;
  text-transform: uppercase;
  color: #5e595b;
  text-decoration: none;
}

@media (max-width: 360px) {
  .nav .nav-text,
  .nav .nav-logo {
    font-size: 15px;
  }
}

.nav .email {
  text-transform: lowercase;
}

body.about .nav a {
  color: #f3edea;
}

body.about .nav a.active,
body.about .nav a:hover,
.nav a.active,
.nav a:hover {
  color: #ee3963;
  transition: 0.3s color ease-in-out;
}

.nav a.active {
  cursor: default;
}

.nav .nav-up,
.nav .nav-down,
.nav .nav-left,
.nav .nav-right {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 767px) {
  .nav .nav-up::before,
  .nav .nav-up::after,
  .nav .nav-down::before,
  .nav .nav-down::after {
    content: '';
    height: 1px;
    background-color: #5e595b;
    width: 100%;
  }

  .nav .nav-left::before,
  .nav .nav-left::after,
  .nav .nav-right::before,
  .nav .nav-right::after {
    content: '';
    height: 100%;
    background-color: #5e595b;
    width: 1px;
  }

  .nav .nav-right::after {
    height: 5%;
  }
}

body.about .nav .nav-up::before,
body.about .nav .nav-up::after,
body.about .nav .nav-down::before,
body.about .nav .nav-down::after,
body.about .nav .nav-left::before,
body.about .nav .nav-left::after,
body.about .nav .nav-right::before,
body.about .nav .nav-right::after {
  background-color: #f3edea;
}

.nav .nav-logo {
  color: transparent !important;
  background-image: url(../images/logo_giulia.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body.works .nav .nav-logo:not(.active) {
  color: transparent !important;
  background-image: url(../images/logo_giulia.svg);
}

body.about .nav .nav-logo:not(.active) {
  color: transparent !important;
  background-image: url(../images/logo_giulia_white.svg);
}

.nav .nav-logo:hover,
.nav .nav-logo.active {
  color: transparent !important;
  background-image: url(../images/logo_giulia_magenta.svg) !important;
}

.nav li:hover {
  opacity: 10;
}

.section {
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.logo img {
  width: 90px;
}

.introduction {
  position: relative;
  font-size: 22px;
  color: #5e595b;
  text-align: center;
  line-height: 1.48em;
}

@media (min-width: 767px) {
  .introduction {
    font-size: 30px;
  }
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-me > * {
  flex-basis: 50%;
  text-align: center;
}

.about-me .me {
  display: none;
}

.about-me img {
  max-width: 65%;
}

@media (min-width: 1024px) {
  .about-me .me {
    display: block;
  }
}

.about-me .my-description {
  padding: 30px 0;
}

@media (min-width: 767px) {
  .about-me .my-description {
    padding: 0;
  }
}

.about-me .my-description p {
  position: relative;
  text-align: center;
  font-size: 15px;
  line-height: 1.8em;
  color: #f3edea;
}

@media (min-width: 767px) {
  .about-me .my-description p {
    font-size: 17px;
  }
}

p a {
  color: #f3edea;
  text-decoration: underline;
}

p a:hover {
  color: #ee3963;
  text-decoration: none;
}

.about-me .btn {
display: block;
font-family: 'montserrat', sans-serif;
text-transform: uppercase;
font-weight: 700;
text-decoration: none;
letter-spacing: 1px;
text-align: center;
color: #f3edea;
width: 14em;
padding: 14px;
border: solid #f3edea 1px;
border-radius: inherit;
margin: 30px auto;
}

.about-me .btn:hover {
  color: #ee3963;
  border: solid #ee3963 1px;
  transition: 0.3s color, border ease-in-out;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery li {
  max-width: 320px;
  padding: 15px;
}

.gallery-entry {
  display: block;
  position: relative;
  overflow: hidden;
}

.gallery-title {
  position: absolute;
  background-color: #5e595b;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: 0.3s transform ease-in-out;
}

.gallery-entry:hover .gallery-title {
  transform: translateY(0);
}


.gallery-title .package {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  transform: translateY(-50%);
}

.gallery-title p {
  text-transform: lowercase;
  font-style: italic;
  font-size: 16px;
}

.row {
  padding: 0;
}

.gallery img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .gallery img {
    width: 100%;
  }
}

.dropdown {
  position: absolute;
  right: 0;
}

.btn-link {
  color: #5e595b;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  margin-top: 100px;
}
.caret {
  color: #fc9c8c;
}

.more .btn {
  display: block;
  font-family: 'montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #5e595b;
  padding: 13px 23px;
  border: solid #5e595b 1px;
  border-radius: inherit;
  margin: 30px auto;
}

.more .btn:hover {
  transition: 0.3s color ease-in-out;
  color: #fff;
  background-color: #5e595b;
}

.more {
  text-align: center;
}

.email {
  display: block;
  color: #fff;
  font-size: 18px;
}

@media (min-width: 767px) {
  .email {
    font-size: 25px;
  }
}

.email:hover {
  text-decoration: none;
  transition: 0.3s color ease-in-out;
  color: #ee3963;
}

.contact-icons {
  text-align: center;
}

.contact-icons-icon {
  display: block;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 15px 0;
  transition: 0.3s all ease-in-out;
  background-size: contain;
}

.contact-icons-icon.linkedin {
  /* grey */
  background-image: url('../images/linkedin_button-grey.svg');
}

.contact-icons-icon.behance {
  /* grey */
  background-image: url('../images/behance_button-grey.svg');
}

.contact-icons-icon.pinterest {
  /* grey */
  background-image: url('../images/pinterest_button-grey.svg');
}

.contact-icons-icon.linkedin:hover {
  /* magenta*/
  background-image: url('../images/linkedin_button-magenta.svg');
}

.contact-icons-icon.behance:hover {
  /* magenta*/
  background-image: url('../images/behance_button-magenta.svg');
}

.contact-icons-icon.pinterest:hover {
  /* magenta*/
  background-image: url('../images/pinterest_button-magenta.svg');
}

.about .contact-icons-icon.linkedin {
  background-image: url('../images/linkedin_button.svg');
}

.about .contact-icons-icon.behance {
  background-image: url('../images/behance_button.svg');
}

.about .contact-icons-icon.pinterest {
  background-image: url('../images/pinterest_button.svg');
}

.about .contact-icons-icon.linkedin:hover {
  /* magenta*/
  background-image: url('../images/linkedin_button-magenta.svg');
}

.about .contact-icons-icon.behance:hover {
  /* magenta*/
  background-image: url('../images/behance_button-magenta.svg');
}

.about .contact-icons-icon.pinterest:hover {
  /* magenta*/
  background-image: url('../images/pinterest_button-magenta.svg');
}

.contact-icons-icon:hover {
  transition: 0.3s all ease-in-out;
}

/*----------- LIGHTBOX--------------------------------------------------*/

.modal {
  padding: 0 !important;
}

.modal-dialog {
  width: 100%;
  margin: 0;
}

.modal-content {
  border: 0;
  border: 0;
  border-radius: 0;
}

.modal-header {
  max-height: 600px;
  border-bottom: 0;
}

.project-text {
  margin: 40px 40px;
}

.modal-title {
  color: #fff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.modal-description {
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 15px;
  text-align: center;
  line-height: 1.8em;
  margin: auto;
  max-width: 800px;
  padding: 30px 0 10px 0;
}

@media (max-width: 767px) {
  .modal-title {
    font-size: 30px;
  }
  .modal-description {
    font-size: 14px;
    max-width: 95%;
  }

}

.modal-body {
  padding: 0;
  text-align: center;
}

button .close {
  padding: 10px 0 10px;
}

.close {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: #fff;
  opacity: 10;
}

.close:hover {
  color: #fff;
  transition: 0.3s font-size ease-in-out;
}

#deer-illustration .modal-header {
 background-color: #5e595b;
}

.deer-stripe1 {
  background-color: #fff;
}

.deer-stripe2 {
  background-color: #ff6571;
}

.deer-stripe3 {
  background-color: #ffd4a7;
}

#dvd-crudo .modal-header {
 background-color: #5e595b;
}

.crudo-stripe1 {
  background-color: #eae9ee;
}

.crudo-stripe2 {
  background-color: #9ba979;
}

.crudo-stripe3 {
  background-color: #d6d6d8;
}

#sz-logo .modal-header {
 background-color: #5e595b;
}

.sz-stripe1 {
  background-color: #d6d6d6;
}

.sz-stripe2 {
  background-color: #7a9d9c;
}

.sz-stripe3 {
  background-color: #7a9d9c;
}

#diesel-tribute .modal-header {
 background-color: #5e595b;
}

.tribute-stripe1 {
 background-color: #cdcdcd;
}

.tribute-stripe2 {
 background-color: #fff;
}

.tribute-stripe3 {
 background-color: #d03c96;
}

#findmybike .modal-header {
 background-color: #5e595b;
}

.findmybike-stripe1 {
 background-color: #F5F4F2;
}

.findmybike-stripe2 {
 background-color: #EF4840;
}

.findmybike-stripe3 {
 background-color: #F5F4F2;
}

.findmybike-stripe4 {
 background-color: #F5F4F2;
}

.findmybike-stripe6 {
 background-color: #EF4840;
}

#dieselevent .modal-header {
 background-color: #5e595b;
}

.dieselevent-stripe1 {
 background-color: #CDCDCD;
}

.dieselevent-stripe2 {
 background-color: #CDCDCD;
}

.dieselevent-stripe3 {
 background-color: #000000;
}

/*.dieselevent-stripe4 {*/
 background-color: #000000;
}

.dieselevent-stripe5 {
 background-color: #000000;
}

.dieselevent-stripe6 {
 background-color: #000000;
}


/*----------- LIGHTBOX-------------------------------------------------*/
